

ul.ressource-list{
  list-style-type: none;
  display:flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  padding: 0 ;
  width: auto;
  text-align: center;
  justify-content: center;




}

.ressource-list > *{
  width: 300px;
  flex-basics: 320px;
  flex-grow: 1px;
  flex-shrink: 0;

}

img{
  height: 200px;
  width: auto;
  border-radius: 5px
}


$ a{
  color: #7986CB;
  text-decoration: none;

}

.ressource-list-item a:hover{
  color:#343b63;
  font-weight: 800;
  text-decoration: underline;
}

li.ressource-list-item {
  margin: 20px 1%;
}

li.ressource-list-item p{
  text-align: left;
  font-weight: 400;
}

li.ressource-list-item figcaption{
  font-weight: 600;
}

li.ressource-list-item img{
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.10);
}
