.ressource-list{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  width: 100vw;
}

.ressource-list > *{
  width: 300px;
  flex-basics: 320px;
  flex-grow: 1px;
  flex-shrink: 0;
  background: yellow;
  border: 1px solid red;
}
